@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: anthony;
  /* font-family: monospace; */
  --italic: italic;
  --bold: bold;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: black;
  background-color: white;
}

@font-face {
  font-family: anthony;
  src: url("./fonts/Anthony.woff2") format("woff2");
  src: url("./fonts/Anthony.woff") format("woff");
}

@font-face {
  font-family: avara;
  src: url("./fonts/Avara-Bold.woff2") format("woff2");
  src: url("./fonts/Avara-Bold.woff") format("woff");
}

@font-face {
  font-family: italic;
  src: url("./fonts/Avara-BoldItalic.woff") format("woff2");
  src: url("./fonts/Avara-BoldItalic.woff") format("woff");
}
